$main-color: lighten(black, 30%);

.Calculator {
    position: absolute;
    background-color: $main-color;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 0;
}