$button-size: 60px;
$button-operator-color: lightBlue;
$button-clear-color: salmon;


.Button{
    border: none;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    height: $button-size;
    width: $button-size;
}

.Button-operator{
    background-color: $button-operator-color;
}

.Button-clear{
    background-color: $button-clear-color;
}