.Display{
    position: relative;
    width: 100%;
    background-color: lightcyan;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    p{
        text-align: right;
        margin: 0;
    }
}